# Коментарии

# Игнорирует все указаные файлы и папки
# main.css

# Звездочка это какое то имя. / Игнорирует все файлы в перечисленой папке с расширением .css.
# *.css

# Слеш позволяет проиписать конкретный путь до папки или файла.
# /css*.css

#Восклицательный знак настраивает исключения

# !/css/some.css
# то есть в папке css файл some.css становится отслеживаемым.

